
:root {
  --bg-primary: #333; 
  --text-primary: #FFFFFF;
  
  --bg-secondary: #6d6d6d; 
  --text-secondary: #878787; 
  
  --bg-tertiary: #f58003;
  --text-tertiary: #FFFFFF;
  
  --bg-body: #FFFFFF;
  --text-body: #5a5a5a;
  --text-header: #0B0D11;
} 