
/* Backgrounds */
.bg-primary {
  background: var(--bg-primary);
}
.bg-secondary {
  background: var(--bg-secondary);
}
.bg-tertiary {
  background: var(--bg-tertiary);
}
.bg-body {
  background: var(--bg-body);
}

/* Text colors */
.text-primary {
  color: var(--text-primary);
}
.text-primary-o {
  color: var(--bg-primary);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-tertiary-o {
  color: var(--bg-tertiary);
}
.text-body {
  color: var(--text-body);
}
.text-header {
  color: var(--text-header);
}

/* layouts */
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}